<nav>
    <header class="p-2 flex items-center justify-between">
    <div class="mobile-nav-logo md:hidden">
        {% if settings.store_logo %}
            <a href="{{ routes.root_url }}">
              <img src="{{ settings.store_logo | image_url }}" alt="{{ shop.name }}" width="60" height="60" loading="eager" class="w-[70px]">
            </a>
        {% else %}
            <a href="{{ routes.root_url }}">
              {{ shop.name }}
            </a>
        {% endif %}
    </div>
    <div class="menu-icon md:hidden">
        <button>
            <i class="iconoir-menu text-3xl"></i>
        </button>
    </div>
    <ul class="nav-menu md:flex hidden mx-auto">
        {% for link in linklists['main-menu'].links %}
            <li class="text-base mx-4">{{ link.title | link_to: link.url }}</li>
        {% endfor %}
    </ul>
</header>
</nav>

{% schema %}
{
    "name": "header",
    "settings": [
            {
                "type": "text",
                "id": "store_name",
                "label": "Store Name"
            }
        ]
}
{% endschema %}